div.container {
	padding-left: 120px;	
	font-family: sans-serif;
}

#login-buttons {
	top: 40px;
	right: 10px;
	
	position: absolute;	
}

p.info, p.warning {
/*	background-color: #ff9;*/
	color: #444;
	text-align: center;
	border: 1px solid #444;
	border-radius: 4px;
	padding: 2px 5px;	
}

p.info {
}
p.warning {
	background-color: #ff9;
	color: #800;
	border-color: red;	
}

/* Name labels in Turn header */
span.player1, span.player2 {
	color: #00c;
	padding: 1px 5px;
	border-radius: 3px;
}
span.player1 {
	background-color: yellow;
}
span.player2 {
	background-color: red;
}
span.active {
	font-weight: bolder;
	text-decoration: underline;
}

/* Game board */
table {
  border-collapse: collapse;
}

td.movement {
  border: 3px inset blue;
  background-color: #00c;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

td.movement.winner {
  background-color: green;
}

td.movement >span {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: white;
	border-color: #00c;
	border-radius: 25px;
    vertical-align: middle;
}
td.movement >span.move-1 {
	background-color: yellow;
}
td.movement >span.move-2 {
	background-color: red;
}
