<head>
  <title>Four In A Row</title>
	<!-- min requirements:
	<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.7.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
	 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js" type="text/javascript"></script>
</head>

<body>
    <a href="https://github.com/mar10/four-in-a-row">
    	<img style="position: absolute; top: 0; left: 0; border: 0;" 
    		src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" 
    		alt="Fork me on GitHub">
    </a>
    {{loginButtons align="right"}}
    {{> game}}
</body>
